<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pelicula.nombre %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @pelicula.rating %>
</p>

<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
<%= link_to 'Back', peliculas_path %>
